{% extends 'base.html.twig' %}

{% block title %} Editer un Article{%  endblock %}

{% block body %}

    <div class="my-3"› <a href="{{ path('form_add') }}" class="btn btn-outline-primary btn-sm"> Ajouter </a> </div>

    {# {{  form(form) }} #}
    {{ form_start(form) }}
    {{ form_rest(form) }}

    <div class="form-group offset-2"> <input type="submit" class="btn btn-outline-primary" name="send" value="{{ 'Send' | trans }}" /> </div>

    {{ form_end(form) }}

{% endblock %}