{# nom du block se base ur le nom du fichier CustomFileType.php écrit en camel_case sans type.php + widget #}

{% block custom_file_widget %}
    {%  set type = type | default('file') %} {# type est fourni par le block widget#}
    {%  set classes = attr.class | default('') %}
    {%  set attr = attr |merge({class: (attr.class|default('') ~ ' d-none') | trim }) %}

   {{- block('form_widget_simple') -}}
    <div class="input-group">
        <input type="text" class="{{ classes }} form-control" placeholder="{{ placeholder }}" id="{{ 'fieldtext_'~id }}"
               readonly {% if data is not empty %} value="{{ data.filename }}" {% endif%}>
        <div class="input-group-append">
            <button type="button" class="btn-outline-secondary btn" id="{{ 'file_browse_'~id }}">Parcourir</button>
            {% if data is not empty and show_image %}
            <a href="{{ asset(directory ~ data.filename) }}" class="btn btn-outline-secondary"
               {% if image_target %} target="_blank"{% endif %}> Voir </a>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let targets = document.querySelectorAll("{{ '#file_browse_' ~ id }}, {{ '#fieldtext_' ~ id }}");

            for(let target of targets){
                target.addEventListener('click', function(){
                    let input = document.querySelector("{{ '#' ~ id }}");
                    input.click();
                    input.addEventListener('change', function(){
                        let value = input.value.replace("C:\\fakepath\\", "");
                        document.querySelector("{{ '#fieldtext_' ~ id }}").value = value;
                    });
                });
            }
        });
    </script>
{% endblock %}