<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Welcome ! {% endblock title %}</title>
    {{ encore_entry_link_tags('bootstrap') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<main class="container-fluid">
    <header class="pt-5">
        <h1>{{ block('title') }}</h1>
        <hr/>
    </header>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ path('home_index') }}" class="nav-link">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('webpack_index') }}" class="nav-link">Webpack</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('cache_index') }}" class="nav-link">Cache</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('form_index') }}" class="nav-link">Formulaire</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('event_index') }}" class="nav-link">Event</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('httpclient_index') }}" class="nav-link">http client</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('twigextension_index') }}" class="nav-link">twig filter</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('mail_index') }}" class="nav-link">Les Mailers</a>
            </li>
        </ul>
    </nav>
    <hr />
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</main>
</body>
</html>